<% @posts = Post.where(main_tag: @query) %>
<% if @posts.length == 0 %>
<div class='center_me row justify-content-center'>
<div class="boring col-4">
  <h2> I'm sorry we cannot find any posts with a username or main tag of <%=@query%> :(</h2>
</div>
</div>
  <% else %>
<h1 class="text-center">#<%= @query %> Posts</h1>
<div class="container">
</div>
</div>


  <div class="row">
    <!-- Shows them in most recent order -->
  <% @posts.each do |post| %>
  <% if post.tags[0] == 'Relationships'%>
    <%@style='text-white bg-danger'%>
    <% elsif post.tags[0] == 'WouldYouRather'%>
    <%@style='text-white bg-success'%>
    <% elsif post.tags[0] == 'Jobs'%>
    <%@style='text-white bg-primary'%>
    <% elsif post.tags[0] == 'Impossible'%>
    <%@style='text-white bg-warning'%>
    <% elsif post.tags[0] == 'Technology'%>
    <%@style='text-white bg-secondary'%>
<%  else %>
  <%  @style='text-white bg-info'%>
<%  end %>
  <h2></h2>

  <div class="card mt-5 <%=@style%> border-primary col-12">
    <div  class="card-body <%=@style%>">
      <h5 class="card-title">Hypothetical</h5>
      <p class="card-text"> <%=post.hypothetical%> </p>
    </div>
    <ul class="<%=@style%> list-group list-group-flush ">
<!-- Publishes tags -->
      <li class="<%=@style%> list-group-item ">Tags:  <%post.tags.each do |tag|%><%if tag != '' %>#<%=tag %> <%end%><%end%></li>
<!-- Publishes comments in drop down method -->
      <p>
        <a class="btn btn-dark" data-toggle="collapse" href="#multiCollapseExample<%=post.id%>" role="button" aria-expanded="false" aria-controls="multiCollapseExample<%=post.id%>">See answers!</a>

      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample<%=post.id%>">
            <div class="card <%=@style%> card-body">
              <ul>
              <%post.comment.each do |commentary|%>
              <li class="list-group-item <%=@style%>"><%=commentary%></li>
              <%end%>
            </ul>
            </div>
          </div>
        </div>


    </ul>

      <li class="list-group-item <%=@style%>">
        <form action="/friend/<%= post.user_id %>" method="post">
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="post_id" value="<%=post.id%>">
          <input class="form-group col-6" type="text" name="commentary" placeholder="Your thoughts">
          <button class="btn btn-dark" type="submit">Answer!
          </button>
        </form>

        </li>
      <% if post.user_id == session[:id] %>
      <a href="/posts/edit/<%= post.id %>">
        <button class="btn btn-dark float-right"> Edit </button></a>
        <%end%>

    </div>

    <% end %>
    <%end%>
