<div class='center_me row justify-content-center'>
<div class="boring col-5">
<h1 class="text-center"><%=@current_user.firstname%> <%=@current_user.lastname%></h1>
<ul class="text-center" style="list-style-type:none">
  <li> Email: <%=@current_user.email%> </li>
  <li> Username: <%=@current_user.username%> </li>
  <li> Birthday: <%=@current_user.birthday%> </li>
  <li> Questions asked: <%=@posts.count%></li>
</ul>

<div class='row justify-content-center'>
  <a href="/profile/edit"><button type="button" class="btn btn-success float-center">Edit</button></a>

</div>
</div>
</div>
