<h1><%=@current_user.firstname%> <%=@current_user.lastname%></h1>
<ul>
  <li> Email: <%=@current_user.email%> </li>
  <li> Username: <%=@current_user.username%> </li>
  <li> Birthday: <%=@current_user.birthday%> </li>
  <li> Questions asked: <%=@posts.count%></li>
</ul>


<a href="/profile/edit"><button type="button" class="btn btn-success">Edit</button></a>
