<form action="/posts/edit/<%= @current_post.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="hypothetical" value="<%= @current_post.hypothetical %>">
  <input type="text" name="tag_one" value="<%=@current_post.tags[0]%>">
  <input type="text" name="tag_two" value="<%=@current_post.tags[1]%>">
  <input type="text" name="tag_three" value="<%=@current_post.tags[2]%>">
  <input type="text" name="tag_four" value="<%=@current_post.tags[3]%>">
  <input type="text" name="tag_five" value="<%=@current_post.tags[4]%>">
<button type="submit">Submit changes</button>
</form>

<form action="/posts/edit/<%= @current_post.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">DELETE FOREVER</button>
</form>
